a {
    color: #58b;
}

.sidebar {
	box-shadow: 0px 0px 32px #136;
    background: #eca724;
    color: #fff;
}
.sidebar a {
    color: #fff;
}
.sidebar a:hover {
    color: rgb(142, 142, 214);
}
    .blog-title a:hover {
        color: #fff;
    }
    .blog-description {
        color: #fff;
    }
    #blog-logo img {
        margin-bottom: 1em;
    }

    .nav-item a {
        background: transparent;
        border: 1px solid rgb(103, 103, 180);
    }
    .nav-item a:hover,
    .nav-item a:focus {
        border: 3px solid rgb(142, 142, 214);
    }

    .social-item a {
        background: transparent;
    }

.featured{ 
    background: rgb(244, 244, 251);
}
.container {
	background-color: #369;
}
article.full-post {
	box-shadow: 0px 0px 32px #136;
}
section.post {
	background-color: #fff;
	box-shadow: 0px 0px 32px #136;
}
    
    .back a {
        color: #999;
    }

    .content-subhead {
        color: #aaa;
        border-bottom: 1px solid #eee;
    }
    .post-title {
        color: #58b;
    }
    .post-description, .post-content {
        color: #444;
    }
        .post-meta {
            color:#999;
        }
        .post-image-meta {
            color: #fff;
            text-shadow: 0 1px 1px #ccc;
        }
    .post-comments {
        /*border-top: 1px solid rgb(103, 103, 180);*/
    }
    .post-share-box {
        border-top: 4px solid #369;
        border-bottom: 4px solid #369;
    }
        .share a:hover {
            color: rgba(142, 142, 214, 0.7);
        }
    .page-number {
        color: #999;
    }

.footer {
    color: #eee;
}
    .footer a {
        color: #fff;
    }
    .footer .pure-menu a:hover,
    .footer .pure-menu a:focus {
        background: none;
    }
